*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.author__quote{
    
    text-align: end;
}

.button__quote{
    
    text-align: end;
}